@model Customer //takes model type customer

@{
    ViewData["Title"] = "GetCustomer";
}


<h1>Get Customer</h1>
<div class="container">
    <form asp-action="List" method="get">
        <select asp-for="CustomerID" class="form-control ml-2 mr-2"
                asp-items='@new SelectList(ViewBag.Customer, "CustomerID", "FullName" )'></select>
        <br />
        <button type="submit" class="mr-3 btn btn-outline-success">Select</button>
    </form>
</div>
