@model List<Registration>

@{           
    ViewData["Title"] = "Product by Customer";
}

<div class="container">
    <div class="row">
        <h2>Customer: @ViewBag.Customer </h2>
    </div>
    <div class="row">
        <h2>Registrations</h2>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th></th>
            </tr>
        </thead>
        @if (Model?.Count > 0)
        {
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.</td>
                    <td>
                        <a asp-controller="Registrations" asp-action="Edit" asp-route-id="@product.Product">Edit</a>
                    </td>
                    <td><a asp-controller="Registrations" asp-action="Delete" asp-route-id="@product.ProductID">Delete</a></td>


                </tr>
            }
        }
        else
        {
            <h3>There are no assigned incidents.</h3>
        }

    </table>

    @*<h1>Product</h1>
    <div class="container">
        <form asp-action="Update" method="post">
            <select asp-for="ProductID" class="form-control ml-2 mr-2"
                    asp-items='@new SelectList(ViewBag.Tech, "ProductID", "Name", Model.)'></select>
            <br />
            <button type="submit" class="mr-3 btn btn-outline-success">Select</button>
        </form>
    </div>*@

</div>