@*
    By Grant van Boeschoten & Aaron Klepper    
*@

<div class="p-3 mb-2 bg-white text-dark">
    <div class="jumbotron">
        <h1 class="display-4">Farid's Dream Team!</h1>
        <p class="lead">
            We are recent Graduates of SAIT POLYTECHNIC and have completed this
            Sports Pro Project as part of our final program project.
        </p>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <p>GitHub Repository for the .Net Desktop App</p>
                <a class="btn btn-primary btn-lg" href="https://github.com/Farid-s-Dream-Team/WorkShop4.git" role="button">Desktop App Code</a>
            </div>
            <div class="col">
                <p>GitHub Repository for the ASP.NET Website</p>
                <a class="btn btn-primary btn-lg" href="https://github.com/Farid-s-Dream-Team/SportsPro-Assignment1" role="button">ASP.NET Site Code</a>
            </div>
        </div>
    </div>
    <br>
    <br>


    <div class="row">
        <div class="text-center">
            <h3>Meet (and Hire) the Developers</h3>
        </div>
        <br>
    </div>
    <div class="card-group">

        <div class="col-5">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/Farid.jpg" class="card-img-top" alt="Farid Kassam">
                <div class="card-body">
                    <h5 class="card-title">Farid Kassam</h5>
                    <p class="card-text">Full Stack Developer with 30+ years of Geology Experience working with Data & Application</p>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/kassamf" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card" style="width: 18rem;">
                <img src="/Images/Srini.jpg" class="card-img-top" alt="Srinivasan Sivalingam">
                <div class="card-body">
                    <h5 class="card-title">Srinivasan Sivalingam</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/Srinivasan-Sivalingam" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/Aaron.png" class="card-img-top" alt="Aaron Klepper">
                <div class="card-body">
                    <h5 class="card-title">Aaron Klepper</h5>
                    <p class="card-text">Marketing & Graphics Specialist.</p>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/aaronklepper" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="card" style="width: 18rem;">
                <img src="/Images/Grant.png" class="card-img-top" alt="Grant van Boeschoten">
                <div class="card-body">
                    <h5 class="card-title">Grant van Boeschoten</h5>
                    <p class="card-text">Full Stack Developer specializing in JavaScript and UX/UI with 10 years of WordPress experience.</p>
                </div>

                <div class="card-body">
                    <a href="https://www.linkedin.com/in/grantvanb/" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/gvanbo" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>



    </div>
