@*
    By Grant van Boeschoten & Aaron Klepper    
*@

<div class="p-3 mb-2 bg-white text-dark">
    <div class="jumbotron text-center">
        <h3>Meet the Developer Team</h3>
    </div>
    <div class="row">
        <div class="col">
            <h4>
                We are recent Graduates of SAIT POLYTECHNIC and have completed this
                Sports Pro Project as part of our final program project.
            </h4>
        </div>
    </div>
    <br>
    <h2>View our Project Code</h2>
    <br />
    <div class="row">
        <div class="col">
            <h4><em>Desktop App on GitHub</em></h4> <br> <a href="https://github.com/Farid-s-Dream-Team/WorkShop4.git">DESKTOP APP LINK</a>.
        </div>

        <div class="col">
            <h4><em>ASP. NET Site on GitHub</em></h4> <br> <a href="https://github.com/Farid-s-Dream-Team/SportsPro-Assignment1">ASP.NET SITE LINK</a>
        </div>
    </div>
    <br>
    <br>


    <div class="row">
        <h3>Farid's Dream Team</h3>
    </div>
    <div class="row">

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="~/Images/Cristiano Ronaldo 2.png" class="card-img-top" alt="Farid Kassam">
                <div class="card-body">
                    <h5 class="card-title">Farid Kassam</h5>
                    <p class="card-text">Full Stack Developer with 30+ years of Geology Experience working with Data & Application</p>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/kassamf" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Srinivasan Sivalingam</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/Srinivasan-Sivalingam" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aaron Klepper</h5>
                    <p class="card-text">Marketing & Graphics Specialist.</p>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/aaronklepper" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Grant van Boeschoten</h5>
                    <p class="card-text">Full Stack Developer specializing in JavaScript and UX/UI with 10 years of WordPress experience.</p>
                </div>

                <div class="card-body">
                    <a href="https://www.linkedin.com/in/grantvanb/" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/gvanbo" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>


        
    </div>