
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="p-3 mb-2 bg-white text-dark">
    <div class="row mr-3 text-center">
        <h3>Meet the Developer Team</h3>
    </div>
    <div class="text-center">
    <h4>
        >We are recent Graduates of SAIT POLYTECHNIC and have completed this
        Sports Pro Project as part of our final program project.
    </h4>
    </div>
    <br>
    <h2>View our Project Code</h2>
    <br />
    <div class="col">
        <em>Desktop App on GitHub <a href="https://github.com/Farid-s-Dream-Team/WorkShop4.git">DESKTOP APP LINK</a>.</em>
    </div>

    <div class="col">
        <em>ASP. NET Site on GitHub <a href="https://github.com/Farid-s-Dream-Team/SportsPro-Assignment1">ASP.NET SITE LINK</a></em>
    </div>


    <div class="row">
        <h3>Farid's Dream Team</h3>
    </div>
    <div class="row">

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Farid Kassam</h5>
                    <p class="card-text">Full Stack Developer with 15 years of Data Experience</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/kassamf" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Srinivasan Sivalingam</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/Srinivasan-Sivalingam" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aaron Klepper</h5>
                    <p class="card-text">Marketing & Graphics Specialist.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/aaronklepper" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3 mr-2">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Grant van Boeschoten</h5>
                    <p class="card-text">Full Stack Developer specializing in JavaScript and UX/UI with 10 years of WordPress experience.</p>
                </div>
                @*<ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>*@
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/grantvanb/" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/gvanbo" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>


        
    </div>