
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row">
    
    <h3>Who We Are</h3>
    <p>
        We are the team 3 software developers. We consist of 4 team members, Grant van Boeschoten, Aaron Klepper,
        Srinivasan Sivalingam and Farid Kassam. We are currently students at SAIT POLYTECHNIC and have completed this
        Sports Pro Project as part of our final program project.
        <br />
        
        Desktop App on GitHub <a href="https://github.com/Farid-s-Dream-Team/WorkShop4.git">DESKTOP APP LINK</a>.
        
        <br>
        ASP. NET Site on GitHub <a href="https://github.com/Farid-s-Dream-Team/SportsPro-Assignment1">ASP.NET SITE LINK</a>
        <br>
    </p>
    </div>
    <div class="row">
        <h3>Farid's Dream Team</h3>
    </div>
    <div class="row">

        <div class="col-sm-3">
            <div class="card p-sm-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Farid Kassam</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="#" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card p-sm-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Srinivasan Sivalingam</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="#" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card p-sm-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aaron Klepper</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">LinkedIn Profile</a>
                    <a href="#" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card p-sm-3" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Grant van Boeschoten</h5>
                    <p class="card-text">Full Stack Developer specializing in JavaScript and UX/UI.</p>
                </div>
                @*<ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>*@
                <div class="card-body">
                    <a href="https://www.linkedin.com/in/grantvanb/" class="card-link">LinkedIn Profile</a>
                    <a href="https://github.com/gvanbo" class="card-link">GitHub Profile</a>
                </div>
            </div>
        </div>


        
    </div>