@{
    ViewData["Title"] = "Admin";
}

<div class="container-fluid">
    <div class="jumbotron-fluid">
        <h1 class="display-2">About</h1>
        <p class="lead">
            SportsPro Technical Support constantly strives to provide the highest level of technical support for all products in the SportsPro family.
            Our website functionality is geared towards our technicians who use this site to provide you with the best service possible.
        </p>
        <br>
        <p class="lead">
            SportsPro is an industry leader in <strong>Fantasy Sports Leagues</strong>, <strong>Tournament Organization</strong>, and our highest rated customer favourite, <strong>Awesome Sauce</strong>.
        </p>
        <a href="https://www.allrecipes.com/recipe/220986/awesome-sauce/">Make Your Own Awesome Sauce</a>
        <br/>
    </div>
    <div class="row">
        <div class="p-xl-3">
            <video autoplay muted controls loop width="1100" height="550">
                <source src="~/Images/Sports Pro.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <partial name="partialContactTeamThree" />
</div>


