
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="jumbotron-fluid text-center">
        <h2>SportsPro Technical Support</h2>
        <h3>Sports management software for the sports enthusiast</h3>
    </div>

    <h3>Admin</h3>
    <div class="row">
        <div class="col-5">
            <div class="list-group">
                <a asp-controller="Product" asp-action="Index"
                   class="list-group-item">Manage Products</a>
                <a asp-controller="Technicians" asp-action="Index"
                   class="list-group-item">Manage Technicians</a>
                <a asp-controller="Registrations" asp-action="GetCustomer"
                   class="list-group-item">Manage Registrations</a>
                <a asp-controller="Incidents" asp-action="Index"
                   class="list-group-item">Manage Incidents</a>
            </div>

            <h3>Technicians</h3>
            <div class="list-group">
                <a asp-controller="Incidents" asp-action="ListByTech"
                   class="list-group-item">Update Incident</a>
                <a asp-controller="TechIncident" asp-action="Get" class="list-group-item">Get Technician</a>
            </div>
        </div>
    
        <div class="col-7 p-1">
            
            <video autoplay muted controls loop width="550" height="300">
                <source src="~/Images/Sports Pro.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <br />
    <div class="home-info">
        <h3>Who We Are</h3>
        <p>
            We are the team 3 software developers. We consist of 4 team members, Grant van Boeschoten, Aaron Klepper,
            Srinivasan Sivalingam and Farid Kassam. We are currently students at SAIT POLYTECHNIC and have completed this
            Sports Pro Project as part of our final program project.View our project on GitHub at the following link:
           https://github.com/Farid-s-Dream-Team/WorkShop4.git
        </p>
        <h3>Contact Us</h3>
            <li>
                Grant van Boeschoten:
            </li>
            <li>
                Aaron Klepper:
            </li>
            <li>
                Srinivasan Sivalingam:
            </li>
            <li>
                Farid Kassam:
            </li>
    </div>
</div>