
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <div class="jumbotron-fluid">
            <h3 class="display-2">Welcome to SportsPro</h3>
            <p class="lead">Customer Options</p>
            <div class="row">
                <div class="col-sm-auto">
                    <h3>Register Here</h3>
                    <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Register" role="button">Register</a>
                </div>
                <div class="col-sm-auto">
                    <h3>Introducing SportsPro</h3>
                    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="About" role="button">About</a>
                </div>
            </div>
        </div>
    </div>

    <div class="m-5">
        <div class="row">
            <div class="col-5">
                <h3>Admin</h3>
                <div class="list-group">
                    <a asp-controller="Product" asp-action="Index"
                       class="list-group-item">Manage Products</a>
                    <a asp-controller="Technicians" asp-action="Index"
                       class="list-group-item">Manage Technicians</a>
                    <a asp-controller="Registrations" asp-action="GetCustomer"
                       class="list-group-item">Manage Registrations</a>
                    <a asp-controller="Incidents" asp-action="Index"
                       class="list-group-item">Manage Incidents</a>
                    <a asp-controller="Countries" asp-action="Index"
                       class="list-group-item">Countries</a>
                </div>
            </div>
            <div class="col-5">
                <h3>Technicians</h3>
                <div class="list-group">
                    <a asp-controller="Incidents" asp-action="ListByTech"
                       class="list-group-item">Update Incident</a>
                    <a asp-controller="TechIncident" asp-action="Get" class="list-group-item">Get Technician</a>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <partial name="partialContactTeamThree" />
    </div>
</div>